

#jogoCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  text-align: center;
  font-size: 80px;
  color: #36e936;
  
}

.container--placar{
  display: flex;
  flex-direction: column;
  border: solid 1px #36e936;
  border-radius: 10px;
  width: 210px;
  height: 400px;
  text-align: center;
  margin-top: 30px;

}

.placar{
  color: #36e936;
  margin-left: auto;
  margin-right: auto;
}

